<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-自定义的瀑布流.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7986334C1D74226800D8B5E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798633651D74226800D8B5E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>798633701D74226800D8B5E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
